body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: aquamarine; */
    font-size: 20px;
    font-family: sans-serif;
    min-height: 100vh;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
.collapsible{
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible input{
    display: none;
}

.collapsible label{
    position: relative;
    height:2em;
    font-weight: 800;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.1) 0 4px 11px 0 rgba(0,0,0,0.8);
    color: #1c1c6b;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

.arrow-icon {
    transition: transform 0.3s ease, fill 0.3s ease;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: rgb(238, 237, 237);
}
.collapsible input:checked + label .arrow-icon {
    transform: translateY(-50%) rotate(-180deg);
    fill: #93c26f
}

.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.5s ease;
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 300px;
    padding-bottom: 25px;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.1) 0 4px 11px 0 rgba(0,0,0,0.8);
    opacity: 1;
    top: 0;

}

.collapsible-text h2{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #1c1c6b;
    
}

.collapsible-text p{
    padding-left: 15px;
    padding-right: 15px;
} 